<center>
<h1>Chapter 2</h1>
</center>

<hr>

#A couple more important concepts we need to cover

I'll start with the idea of looping.

#1. Loops
<img src='https://www.dropbox.com/s/9fcc1crlxp19ijt/major_section.png?raw=1' width='300'>


There are several pain points in learning to program. The one I want to take up now is called looping. The concept is relatively easy to state - repeat a bunch of steps. I play tenor sax and so I see loops in music. Play a bunch of bars until you see the repeat sign and then play them again.

<img src='https://www.liveabout.com/thmb/ZUhl8iyMpnKCMoe8FEbirkeVVdM=/160x160/filters:fill(auto,1)/GL_repeat-bar-lines-57c7dcfb5f9b5829f418cf64.png'>

Why is this a bad analogy, part 1.

I can ask for the bars/notes to be repeated an unlimited number of times with a Python loop. Kind of boring in a performance. But let's check it out. I'll just ask for 3 repeats for now. Here it is with music.

In [0]:
for steves_index in range(3):
  print('Playing Eb')
  print('Playing C')
  print('Playing G#')
  print('Playing C')
  print('repeat')

## Way lots of new jargon

Let's go through it.

<pre>
for steves_index in range(3):
</pre>

* **`for`**. The '`for`' is special to Python. It shows up in purple to tell us Python recognizes it as something special. It is what gives 'for loop' its jargony name. What would be a better name? Probably '`repeat some steps`'. But we are stuck with `for`.

* **`steves_index`**. The next on the line is '`steves_index`'. I think this is one of the hardest things to understand about loops. I can tell you that it is a variable name. And I hope I am demonstrating that what you call it is up to you. I can also tell you that it is kind of a throw-away variable. We use it in the loop and then don't care about it anymore. Why I believe it is confusing is because behind the scenes, not seen by you, Python is messing with it. Here is the motivation. When I am playing music, I have to remember where I am on the repeats. If it is the first time through, then I repeat. If it is the second time through, I don't repeat. Even I can generally remember whether first or second. But what if I had to repeat 3 times? I could probably remember. What about 10 times? Getting tricky. Python tries to be helpful by giving you a way to see how many times you have repeated. It shows you in steves_index. Check this out.

In [0]:
for steves_index in range(3):
  print(f"I have repeated this many times: {steves_index+1}")  #Notice my use of an f string

Kind of confusing, right? It looks like Python is doing `steves_index = 0` to start then `steves_index += 1` thereafter. All hidden from view. Let's use that way of thinking of it for now.

* **`in`**. Next on the line is '`in`'. Annoying and easy to forget. But you have to have it.

* **`range(3)`**. Next on the line is '`range(3)`'. The 'in' goes with this. It says how many times to repeat. Why not simply '`in 3`'? Why do we need '`in range(3)`'? Seems more complicated. It is more complicated :) But I am hoping you can just remember that if you want to repeat something 10 times, you use '`in range(10)`'.

* **`:`**. Finally we have the annoying colon to end the line. You cannot leave it off. And it is easy to forget. Sorry. Just one of those things you have to remember that makes programming infuriating.

##The loop-body

Before discussing what the steps of the loop are (jargony: the loop body), let's use another example. Almost same as one above but I added a new print statement.

In [0]:
for steves_index in range(3):
  print(f"I have repeated this many times: {steves_index}")
print('done')

###I am hoping you are surprised

Why wasn't 'done' printed 3 times? Because it is not part of the loop body. How do I know that? Because it was not indented. So the loop body is defined to be the steps (lines) that follow the colon **and are indented**. The line `print('done')` is not indented. Hence, it signals the end of the loop body.

###I'll take a survey at end of course

Do you like this indentation feature or not?

* The case for it: it is simple and easy to read. I can quickly look at the code 
and see what is indented and know this is the loop body.

* The case against it: it is easy to make mistakes. What if I accidently indent the `print('done')` line? It becomes part of the loop. You typically will not get an error immediately. You just will get weird results later.

#2. Loop patterns
<img src='https://www.dropbox.com/s/9fcc1crlxp19ijt/major_section.png?raw=1' width='300'>

While there are endless ways to use loops, we will only need a few during the quarter. That's good news! I'll break our usage into what I call loop patterns.

##Loop pattern: visit each item in a list

In [0]:
#set up a test list

test_list = ['a', 'b', 'c', 'd']

In [0]:
#store the list length in n

n = len(test_list)

In [0]:
for i in range(n):
  item = test_list[i]  #remember Python manipulates i behind the scenes
  print(item)

print('done')

Here it is as one gist. I'll tell you about gists in a bit.

In [0]:
test_list = ['a', 'b', 'c', 'd']
n = len(test_list)  #how many elements in test_list

for i in range(n):
  item = test_list[i]  #remember Python manipulates i behind the scenes
  print(item)

print('done')

###Quiz
<img src='https://www.dropbox.com/s/3uyvp722kp5to2r/assignment.png?raw=1' width='300'>

Help me modify this code to check if the elements of the `test_list` meet the `isalpha()` test.

I'll copy and paste code from above as a starting point.

Then change to this: test_list = ['a', 'b', 'c', 'd2']

Here is the target output:
<pre>
a True
b True
c True
d2 False
done
</pre>

In [0]:
#copy in here and fix up

##Loop pattern: build a new list from an old list

This is another thing that will be common to us this quarter. We have a list. We want a new list that modifies the items in the old list. The old list stays the same.

In [0]:
#set up a test list

test_list = ['a', 'b', 'c', 'd']

In [0]:
#store the list length in n

n = len(test_list)

In [0]:
new_list = []  #yes, you can just use empty brackets to build an empty list.

for i in range(n):
  item = test_list[i]  #remember Python manipulates i behind the scenes
  new_item = item.upper()
  new_list.append(new_item) #or new_list += [new_item]

print('done')
print(test_list)  #stays the same
print(new_list)   #upper case

Here it is as a gist.

In [0]:
test_list = ['a', 'b', 'c', 'd']
n = len(test_list)  #how many elements in test_list

new_list = []  #yes, you can just use empty brackets to build an empty list.
for i in range(n):
  item = test_list[i]  #get value from old list
  new_item = item.upper()  #do something to the item
  new_list.append(new_item)  #add the item to the new list

print('done')
print(test_list)  #stays the same
print(new_list)   #upper case

##Quiz

Build a new list with 'z' tacked on to each string in old list. Result will be:
<pre>
['az', 'bz', 'cz', 'dz']
</pre>

###Let's pull a loop pattern in and fix it up

In [0]:
#copy here and fix up

#Stop!
<img src='https://www.dropbox.com/s/kfnmns0f60q8b8z/red_line.png?raw=1' width='300'>

If anyone wants to work as a group, give me a private chat with names. I'll move you all to a break-out room.

If you are in a break-out room and need some help, hit the "request help" button. That pops up a message on my screen. If no one is available, I click later and you can try later. Otherwise I or one of the LAs will join.

If you are in the main meeting and are stuck, send me a private chat and I can move you to an empty room for help.

#Assignment 1
<img src='https://www.dropbox.com/s/3uyvp722kp5to2r/assignment.png?raw=1' width='300'>
<p>
<img src='https://www.dropbox.com/s/ti4azjtj667g9gl/Screenshot%202020-04-04%2008.23.49.png?raw=1' height=200>

I new poem has been uncovered in a yard sale. The buyer insists it is an unknown Frost poem and wants big bucks for publishing rights!

You are called on to check the validity of the Frost authorship claim. You know from other studies that the average sentence length of Frost poems is rather large at **36 words per sentence**.

You sign an NDA to gain access to the poem. Your job now is to analyze the poem by computing the average words per sentence.

Notes:

1. You will likely need to do several splits. And use one of our loop patterns.

2. Before counting words, remove punctuation and any other characters that are not part of words.

3. You will need to use online documentation to help you find Python code that helps compute the average. **Hint**: when I am googling for something, I generally use something like "python how to ..." where you fill in the ... with what you want.

In [0]:
mystery_poem = '''
Dust always blowing about the town,
Except when sea-fog laid it down,
And I was one of the children told
Some of the blowing dust was gold.

All the dust the wind blew high
Appeared like god in the sunset sky,
But I was one of the children told
Some of the dust was really gold.

Such was life in the Golden Gate:
Gold dusted all we drank and ate,
And I was one of the children told,
"We all must eat our peck of gold"
'''

##Good luck!

In [0]:
poem_lines = mystery_poem.split('.')
nlines = len(poem_lines)
line_length = []

for i in range(nlines):
  poem_lines[i] = poem_lines[i].replace('\n',' ')
  poem_lines[i] = poem_lines[i].replace(',',' ')
  poem_lines[i] = poem_lines[i].replace('"','')
  line_length.append(len(poem_lines[i].split()))

In [0]:
sum(line_length)/len(line_length)

28.666666666666668

#3. Using libraries
<img src='https://www.dropbox.com/s/9fcc1crlxp19ijt/major_section.png?raw=1' width='300'>

Python was designed as a fairly spare language in terms of things you can do. What the Python designers decided was to let you enhance the language with modules (also called libraries or packages). So Python is like the basic model of a car. You can enhance your car with option packages.

<img src='https://cdn.dribbble.com/users/1436112/screenshots/5391168/bmw-dribbble.jpg' height=200>

 You can enhance Python by asking for libraries. Unlike a car, the libraries are free in terms of money. Their cost comes from making the language more complex. You not only need to know the basic Python, you have to know how to operate the libraries.

I'll add a library below then talk about it.

In [0]:
import pandas as pd  #buying our first option package. Exciting!

##A very important library: pandas

The `import` operation is the way we "buy" an option package. It's now added on to our base Python vehicle. The library I imported is called pandas. The name comes from Economics and "panel data". But that is too high falutin to me. I just think of the cuddly animal :)

The `as pd` piece says use a nickname. So now we can use `pd` instead of `pandas`. Kind of like "`import stephen as steve`".

##How do we know what we bought (imported)?

Sorry, but we are back to online documentation. There are books just on pandas but they go out of date so online is what is best. For this course I am mostly going to give you what you need.

##A side note on conventions

I could have chosen any nickname I wanted for pandas. Maybe even "`import pandas as p`" if I wanted to be really short. But that would be unwise. The use of `pd` as the nickname is called a *programming convention*. It is not the law but more like a societal norm. Here is an analogy. When I am running, I try to make eye-contact with drivers and get an acknowledgement they see me. It is a convention we share. It is not the law. And some drivers ignore it. But by ingoring it, they make runners angry, which leads to letters to the editor, people getting flipped off, road rage, etc.

If you ignore the convention of using `pd` then you will likely cause other programmers to have programming rage (I just made that up :). But more importantly, you will make it much harder on yourself to get help from others. The Python "society" uses `pd` as a convention. If you decide to be a free-spirit, you are going to have to do a lot of mental translation. I belabor this now because we will run into it again and again. While you have lots of freedom in Python, think hard before breaking conventions.

###Take pandas for a test spin

Let's do it then talk about it. I am going to bring in the data from the Titanic passenger log.

In [0]:
url = 'https://docs.google.com/spreadsheets/d/1z1ycUZjJpmMWB4gXbhwRQ9B_qa42CwzAQkf82mLibxI/pub?output=csv'  #plain old string I got from Google Sheets
titanic_table = pd.read_csv(url)  #using our new package to read in an entire dataset - the coolest

In [3]:
titanic_table.head()  #print first 5 rows of the table

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [4]:
len(titanic_table)  #looks like len works on tables as well. Cool.

891

In [6]:
titanic_table['Survived']

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

###Recap

1. I set `url` (a variable name I made up) to a long string. I got this string from Google Sheets, where I have a dataset stored. So the string "points" to my data on Google Sheets. I'll show you how easy it is for you to do the same later.

2. I then used `pd.read_csv(url)` to get the data into a Python form. Pretty cool. One line of code to bring in a dataset. I stored the data in a variable `titanic_table`. I thought that name would help me remember what I had.

3. Next I asked to see the first 5 rows of the dataset I just read in. From it, I can see I have 12 columns with a mixed type of data, some text, some ints, some decimal numbers (called floats in Python).

#Stop!
<img src='https://www.dropbox.com/s/kfnmns0f60q8b8z/red_line.png?raw=1' width='300'>

I like to draw :)

Even though I am a terrible drawer. I'm going to experiment here with drawing. I am going to switch to a powerpoint window I have stacked behind this chrome window.

##Wait, what happened to lists and strings?

What pandas has done is introduce a new data type to Python. Its jargony name is DataFrame. But you will hear me call it table or spreadsheet.

pandas asks you to think in terms of rows and columns. You will see that some of our previous operations like indexing are still around. But given that it is a 2D data type, it gets more complicated.

Like strings and lists, it has its own set of functions and methods. But now for manipulating spreadsheets.

##Some new jargon: features and labels

This is a forewarning. When we get to machine learning, a new set of jargon will arise. We will take the lowly spreadsheet and gussy it up with something that sounds more hip.

<img src='https://www.dropbox.com/s/xgql7p1241bar34/Screenshot%202020-01-30%2013.16.24.png?raw=1'>

Our goal will be to predict who Survived (predict the label value) based on feature values. I'll give you a little quiz to see how you do :) I'm switching to powerpoint.

#Stop!
<img src='https://www.dropbox.com/s/kfnmns0f60q8b8z/red_line.png?raw=1' width='300'>

Switching screen sharing to powerpoint quiz.

I'll call on you to give a prediction.

###Useful to know what we need to beat

For instance, if I always predicted a 0 for Survived, how accurate would I be? Let's get some more stats.

In [0]:
titanic_table['Survived'].value_counts()  #count the unique values in a column

In [0]:
#So we have to beat this - otherwise can just predict 0 always and be 61% accurate

549/(549+342)

0.6161616161616161

If we cannot do better than 61%, then we are really wasting our effort. Our goal is to build a machine learning model that predicts a label given values of features and does a better job than using the most likely.

##And another whoa moment

I skimmed over above pretty fast. It looks kind of complicated:
<pre>
titanic_table['Survived'].value_counts()
</pre>

Let's break it down a bit.

* **titanic_table['Survived']**. This accesses an entire column. You give the name of the column you want. You can see that it is a type of indexing like we saw with lists. But now indexes an entire column, not just one element. In essence, it is a column method.

* **.value_counts()**. This works on the column I have chosen. It finds all the unique values and gives me a count for each.

What makes it complex is it has 3 operations on 1 line: (a) do a memory-retrieve (MR) on the variable titanic_table, (b) get the column values for the table retrieved, then (c) feed them to the value_counts method. This is a fairly typical thing to do in data science. You build a **pipeline** that grabs data then feeds it through a series of data manipulators.

##Big fork in the road here
 Let me show the table again.

In [7]:
titanic_table.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

The titanic dataset has been used to demonstrate many types of machine learning models. I have used it in classes to look at decision trees, random forests, boosting and ensembles. And even Artificial Neural Nets. We spend weeks on wrangling the data, including:
1. filling empties (those NaN values you see in Cabin). Note the Age column has almost 1/3 of its values empty!
2. encoding categorical features (see the Pclass and Embarked columns) using one-hot encoding.
3. normalization and scaling of columns.
4. reworking of columns by reducing/combining them and/or adding new ones. The jargony name for this is *feature engineering*. Columns are also called features.

I might start with looking at column correlations. pandas has a method for that called `corr`.

In [8]:
titanic_table.corr()  #default pearson, e.g., 1 is total positive linear correlation, 0 is no linear correlation, and −1 is total negative linear correlation

             PassengerId  Survived    Pclass  ...     SibSp     Parch      Fare
PassengerId     1.000000 -0.005007 -0.035144  ... -0.057527 -0.001652  0.012658
Survived       -0.005007  1.000000 -0.338481  ... -0.035322  0.081629  0.257307
Pclass         -0.035144 -0.338481  1.000000  ...  0.083081  0.018443 -0.549500
Age             0.036847 -0.077221 -0.369226  ... -0.308247 -0.189119  0.096067
SibSp          -0.057527 -0.035322  0.083081  ...  1.000000  0.414838  0.159651
Parch          -0.001652  0.081629  0.018443  ...  0.414838  1.000000  0.216225
Fare            0.012658  0.257307 -0.549500  ...  0.159651  0.216225  1.000000

[7 rows x 7 columns]

Values close to 1 or -1 say there is high correlation between the 2 columns. Perhaps we can drop one as redundant.

##Data wrangling can matter

The Stats and Probabilities courses on campus provide the underpinnings needed to wrangle data like we see in the Titanic data set.

And there are much more powerful Python libraries for doing wrangling.

And common wisdom is that you can spend 70% of your effort in data wrangling, so a key field of study.

We won't be doing a deep-dive into wrangling in this course. Our focus is on text. And the only text I see in the Titanic is the Name column. So the other features are dead to me. Making them dead is pretty easy.

In [0]:
drop_list = ['PassengerId',  'Pclass',  'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']  #normal list of strings

In [0]:
trimmed_table = titanic_table.drop(drop_list, axis=1)  #sorry about the axis=1. It says drop columns (axis=1) and not rows (axis=0 by default)

Note that the `drop` method **makes a copy**, as do almost all pandas methods. So you have to save results in a variable or it is lost.

I chose a new variable because I did not want to lose the original table.

In [11]:
trimmed_table.head()

   Survived                                               Name
0         0                            Braund, Mr. Owen Harris
1         1  Cumings, Mrs. John Bradley (Florence Briggs Th...
2         1                             Heikkinen, Miss. Laina
3         1       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4         0                           Allen, Mr. William Henry

##Raw text won't work
<img src='https://www.dropbox.com/s/3uyvp722kp5to2r/assignment.png?raw=1' width='300'>

For all the machine learning models we will work with, features must be numeric. A major theme of this course is how to convert text into numerical form. It is really an interesting question. Ideas on how to do that for Name?

In [0]:
name0 = 'Braund, Mr. Owen Harris'

#Stop!
<img src='https://www.dropbox.com/s/kfnmns0f60q8b8z/red_line.png?raw=1' width='300'>

Let's use whiteboard to brainstorm.


<pre>









</pre>

Here is what I propose:

1. We create a new column that is the length of the name, in characters.
2. We create 26 new columns, one for each letter. Then we count how many times that letter appears in the name (ignoring case). I am going to call this approach "bag of characters". Why? Because we have lost context. We throw the 26 letters in a bag and they are now independent.
3. We can ignore the Name column at this point. We have 27 new features we can use for prediction.

##Have I lost my rocker?

Using a person's name to predict survival? Maybe I've been reading the wrong material.

<img src='https://numerologybasics.net/wp-content/uploads/2019/08/Numerology-Name-Correction.jpg' width=300>

But hey, machine learning is about finding patterns that are not obvious. It might work!

#4. Let's wrangle
<img src='https://www.dropbox.com/s/9fcc1crlxp19ijt/major_section.png?raw=1' width='300'>

Reminder: our goal is to add a new column that holds the length of the name for each passenger. If we can can the values into a list, easy peasy to add a new column. So let's wrangle to get that list!

###Wrangling step 1: pull out the names into a list of strings

We know how to work with lists of strings. So let's create that by pulling the Name column out of the table and into a list of strings. It's a one liner using pandas!

In [0]:
name_list = titanic_table['Name'].tolist()  #grab the Name column and turn it into a list

Do you see the pipeline? First grab data in column then turn it into a regular Python list.

In [13]:
name_list[:5]  #look at first 5

['Braund, Mr. Owen Harris',
 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
 'Heikkinen, Miss. Laina',
 'Futrelle, Mrs. Jacques Heath (Lily May Peel)',
 'Allen, Mr. William Henry']

What we have done is pull a column from the table and put it in a list. Here is a picture. I am showing the hidden list-indices just for illustration.

<img src='https://www.dropbox.com/s/44soykh7klelzwi/Screenshot%202020-01-31%2012.39.59.png?raw=1'>

##Wrangling step 2: create a list of name-lengths (use a loop pattern)

So I want to go through each name and get its length in characters (including spaces and punctuation). I want to add the length to a new list.

We have a pattern that creates a new list from an old list so can use that as a start and modify to fit the new problem.

In [0]:
#test_list becomes name_list

n = len(name_list)

name_lengths = []  #new list I want to build

for i in range(n):
  name = name_list[i]
  length = len(name)  #had to add this to template to fit the problem
  name_lengths.append(length)

In [16]:
name_lengths[:5]  #you can check against the names by counting characters

[23, 51, 22, 44, 24]

In [17]:
print(len(titanic_table))  #891 passenger rows

891

In [18]:
print(len(name_lengths))  #891 so we have a length for each passenger.

891

###Now super easy to add a new column

Check it out.

In [0]:
trimmed_table['Length'] = name_lengths  #adds a new column and sets its values - nice

Even though it is a one-liner, the details are a bit tricky. You are not creating a copy of the table. You are doing a memory store on the table itself. Hence it appears on the left hand side of the =.

I won't pretend this is not complicated. It is. pandas is doing special things behind the scenes to focus on the column named, and create the column if it does not exist.

In [0]:
trimmed_table.head()

##Next goal: add the 26 letter columns with counts

I'll use the same general approach as with length: get a list of values then easy to add a new column.

#Stop!
<img src='https://www.dropbox.com/s/kfnmns0f60q8b8z/red_line.png?raw=1' width='300'>

Let's use whiteboard to brainstorm.


We don't have a loop pattern for this yet and it is a bit hairy. It involves nested loops, i.e., one loop inside of another loop. It is way too early to introduce this concept. So I am just giving you the code to get the wrangling job done. But happy to answer questions about the code if you are curious. In particular, if you squint, you have an outer loop which is similar to the "create a new list from an old list". The difference is the new list is actually a new column in the table. The inner loop is again the pattern "create a new list from an old list". So what is new is seeing loop patterns nested in each other.

In [0]:
letter_list = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']  #new features, i.e. column names

In [0]:
for i in range(len(letter_list)):
  letter = letter_list[i]  #'a' then 'b' then 'c', etc.

  #create a new list from old list - so this is like your gist, just embedded inside another loop
  the_counts = []

  #Note this loop indented so nested
  for j in range(len(name_list)):
    name = name_list[j]
    lower_name = name.lower()
    letter_count = lower_name.count(letter)
    the_counts.append(letter_count)

  #now back in outer loop, which is kind of like trimmed_table['Length'] = name_lengths
  trimmed_table[letter] = the_counts  #add a new column with values

In [23]:
trimmed_table.head()

   Survived                                               Name  a  ...  x  y  z
0         0                            Braund, Mr. Owen Harris  2  ...  0  0  0
1         1  Cumings, Mrs. John Bradley (Florence Briggs Th...  2  ...  0  2  0
2         1                             Heikkinen, Miss. Laina  2  ...  0  0  0
3         1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  3  ...  0  2  0
4         0                           Allen, Mr. William Henry  2  ...  0  1  0

[5 rows x 28 columns]

##Congrats, you are a junior wrangler

You've wrangled the table into a shape we can use for our first machine learning model, KNN.

##Warm-up for Assignment 2

I am going to ask you to do a critical step for success in this course. I am going to ask you to start putting your own, personal, documentation together. We will use github to do that.

Here is what I am going to do:

1. Find a snippet of code that I think will be useful later and copy it to clipboard.

2. Go to github and add it as a gist.

I'll demonstrate. Please just watch and ask questions. I am going to give you a chance to do it for yourself in an assignment.

#Stop!
<img src='https://www.dropbox.com/s/kfnmns0f60q8b8z/red_line.png?raw=1' width='300'>

If anyone wants to work as a group, give me a private chat with names. I'll move you all to a break-out room.

If you are in a break-out room and need some help, hit the "request help" button. That pops up a message on my screen. If no one is available, I click later and you can try later. Otherwise I or one of the LAs will join.

If you are in the main meeting and are stuck, send me a private chat and I can move you to an empty room for help.

#Assignment 2 (Turn-in for this one - see canvas)
<img src='https://www.dropbox.com/s/3uyvp722kp5to2r/assignment.png?raw=1' width='300'>

I'd like you to store the loop patterns on your Github account. I just demonstrated this but good to have it in writing so I'll break it into pieces.


Please use another tab and go here: https://gist.github.com/smith. But replace *smith* with your github name. I replaced it with *fickas*, my github name. You may be asked to sign in. Hope you remember your password! I see this and so should you (minus the beach picture :) Come back here when done.
<hr>
<img src='https://www.dropbox.com/s/silc5ovoqbgdetn/Screenshot%202020-01-30%2009.59.44.png?raw=1'>
<hr>

You can use your github site to save snippets of code. The idea is that these snippets can be copied and then pasted into future notebooks as you need them. It's kind of like a recipe box. The snippets (called *gists* in the jargon) are like the cards in your recipe box. Let's put some recipes in your box.

##Problem 1

Find the gist for the first loop pattern. You will have to scroll up. Copy the code using command-c (or whatever you do to copy text to the clipboard).

Now go to your github tab. On the top right you will see a + (a plus sign). Click it. Now do following:

1. Paste your code into the big window.
2. Add a description so you can remember what it is for.
3. Add a file name. This is optional. If you do add one, make sure it ends with ".py". This will turn on syntax highlighting and all of a sudden your code looks prettier.

Here is my result:

<img src='https://www.dropbox.com/s/qcszwwl0tu5rjvj/Screenshot%202020-01-30%2010.14.34.png?raw=1'>

I am ready to now click secret or public. I am going to choose public.

Click your name and you will see your first gist listed. We will add more!

##Problem 2

Repeat the steps for the gist code from the second loop pattern. Copy and add a second gist.

##Problem 3

Make the round-trip. Go to your github site and copy your first gist. Then create a new code cell below and paste the code in. Run it.

In [0]:
for i in range(len(letter_list)):
  letter = letter_list[i]  #'a' then 'b' then 'c', etc.

  #create a new list from old list - so this is like your gist, just embedded inside another loop
  the_counts = []

  #Note this loop indented so nested
  for j in range(len(name_list)):
    name = name_list[j]
    lower_name = name.lower()
    letter_count = lower_name.count(letter)
    the_counts.append(letter_count)

  #now back in outer loop, which is kind of like trimmed_table['Length'] = name_lengths
  trimmed_table[letter] = the_counts  #add a new column with values

In [26]:
trimmed_table.head()

   Survived                                               Name  a  ...  x  y  z
0         0                            Braund, Mr. Owen Harris  2  ...  0  0  0
1         1  Cumings, Mrs. John Bradley (Florence Briggs Th...  2  ...  0  2  0
2         1                             Heikkinen, Miss. Laina  2  ...  0  0  0
3         1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  3  ...  0  2  0
4         0                           Allen, Mr. William Henry  2  ...  0  1  0

[5 rows x 28 columns]

##Problem 4

See if any other code in this notebook (or chapter 1) that might be useful to store away in a gist. This is really a personal choice from now on in the course. You decide what snippets of code to add to your gists.

##Sharing is encouraged

If you chose public for your gists, you can easily share with others (e.g., members of your research group). Just give them your github name and they can look up your gists. They cannot change them. But they can see them and also copy them to their own github site. If you chose secret, you can still share. But you have to name the other github users to share with.

If you are in a research group on campus or in a working group with a company, sharing of gists like this can be powerful.

#Assignment 3
<img src='https://www.dropbox.com/s/3uyvp722kp5to2r/assignment.png?raw=1' width='300'>

Create a new list with the counts of '*Miss.*' in each name. See wrangling step 3 for how to count things. You could use this to add a new column `Miss`. This goes a bit beyond the bag idea of just counting letters. Now we are doing a bit of interpretation of the letters to look for unmarried females.

Don't add it to your table but know that you could. This would be a type of feature engineering: adding a column that did not exist before.

Here are first 30 items in my list to match against. Looks like I am finding them. Count on the left and name on the right.

<pre>
0 Braund, Mr. Owen Harris
0 Cumings, Mrs. John Bradley (Florence Briggs Thayer)
1 Heikkinen, Miss. Laina
0 Futrelle, Mrs. Jacques Heath (Lily May Peel)
0 Allen, Mr. William Henry
0 Moran, Mr. James
0 McCarthy, Mr. Timothy J
0 Palsson, Master. Gosta Leonard
0 Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
0 Nasser, Mrs. Nicholas (Adele Achem)
1 Sandstrom, Miss. Marguerite Rut
1 Bonnell, Miss. Elizabeth
0 Saundercock, Mr. William Henry
0 Andersson, Mr. Anders Johan
1 Vestrom, Miss. Hulda Amanda Adolfina
0 Hewlett, Mrs. (Mary D Kingcome) 
0 Rice, Master. Eugene
0 Williams, Mr. Charles Eugene
0 Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)
0 Masselmani, Mrs. Fatima
0 Fynney, Mr. Joseph J
0 Beesley, Mr. Lawrence
1 McGowan, Miss. Anna "Annie"
0 Sloper, Mr. William Thompson
1 Palsson, Miss. Torborg Danira
0 Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)
0 Emir, Mr. Farred Chehab
0 Fortune, Mr. Charles Alexander
1 O'Dwyer, Miss. Ellen "Nellie"
0 Todoroff, Mr. Lalio
</pre>

###Hint

You have an existing list of names called `name_list`. We want a new list. I called my new list `miss_counts`. It holds integer values.

 Seems like you have a use already for your "create new list from old list" gist! Copy it in and then fix it up to match the problem you are solving.

In [31]:
name = name_list[2]
name.count('Miss')

1

In [0]:
#your code here
n = len(name_list)

miss_counts = []

for i in range(n):
  name = name_list[i]
  cmiss = name.count('Miss')
  print(cmiss,name)
  miss_counts.append(cmiss)

Check your code against what I got above. They should match on the first 30.

In [0]:
#I am using my visit every item gist (actually visit 2 parallel lists)

n = 30

for i in range(n):
  missc = miss_counts[i]
  name = name_list[i]
  print(missc, name)  #you can see print will take more than one arg

#Assignment 4
<img src='https://www.dropbox.com/s/3uyvp722kp5to2r/assignment.png?raw=1' width='300'>

I'd like a list of the last name of each passenger. For instance:
<pre>
['Braund', 'Cumings', 'Heikkinen', 'Futrelle', 'Allen', ...]
</pre>

Hint: my strategy was to find where the comma appeared and grab the part of the string before that. I viewed that as the last name. Look back to chapter 1 for how to find where something appears in a string.

And remember you can slice a string just like you can slice a list.

In [0]:
test_string = 'Braund, Mr. Owen Harris'  #here is a test string to play with

See if you can find the comma then slice to pull out 'Braund'. Once you can, you are ready for a loop that does it for all names.

In [40]:
#play around with test_string
test_string.split(',')

['Braund', ' Mr. Owen Harris']

In [43]:
#One of your loop patterns seems to make sense here
n = len(name_list)

last_names = []

for i in range(5):
  name = name_list[i]
  split_name = name.split(',')
  last_name = split_name[0]
  last_names.append(last_name)
  print(last_name)

Braund
Cumings
Heikkinen
Futrelle
Allen

I used the list name `last_names` to hold my list of last names. See below the first 5.

In [44]:
last_names[:5]  #['Braund', 'Cumings', 'Heikkinen', 'Futrelle', 'Allen']

['Braund', 'Cumings', 'Heikkinen', 'Futrelle', 'Allen']

#Assignment 5
<img src='https://www.dropbox.com/s/3uyvp722kp5to2r/assignment.png?raw=1' width='300'>

I'd like to know how many times, total, the letter q appears across all passenger names. In other words, I want the sum of the 'q' column. If it is really low, maybe I should consider dropping the column as not providing much information.

##Step 1.

Pull the q column and put it into a list q_column.

In [0]:
#your code
q_column = trimmed_table['q']
q_column = list(q_column)

In [49]:
q_column[:20]  #[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

##Step 2.

Figure out how to determine the total count of q-use given the q_column list. In essence, you need the sum of all the values in the list.

I got an answer of 10 when I summed the values. Make sure you get the same.

In [51]:
#your code - answer should be 10
sum(q_column)

10

#Assignment 6
<img src='https://www.dropbox.com/s/3uyvp722kp5to2r/assignment.png?raw=1' width='300'>


I'd like you to save all your hard earned wrangling work. Otherwise you will have to redo everything in the next chapter. Here is what I want you to do:

1. Open a secure connection to your personal Google Drive account.
2. Write out our wrangled table to your account.
3. Open a new tab showing your Google Drive account.
4. Find your new file and double-click it. Make sure it looks ok.
5. Under File choose Publish to web.
6. Replace Web Page choice with csv choice.
7. Click publish and confirm it is what you want to do.
8. Copy the url you are given and now move back to this notebook.
9. Paste it in test code below to make sure it all works.

Seems like a lot of work, right? But the alternative is redoing all your hard work in this chapter at the start of the next chapter.

I'll lead you through the steps above.

###Step 1: connect to Google Drive

This step is a bit more complicated than just running the code. When you run it, you will be given a url to click. Click it. Then choose your Google account and allow Google the privileges it wants. You will eventually be given a long string to copy. Copy it. Then paste it in the text box that pops up below and hit return. Whew.

In [52]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

###Step 2: write your file out

You can see I am choosing the file name `titanic_letters.csv`. You can choose your own name if you wish. But make sure it ends with `.csv`.

I know I am using some new syntax below. For now, just view it as a gist for storing tables out to file. If anyone interested, I can provide more detail.

In [0]:
with open('/content/gdrive/My Drive/Course Work/CIS510/titanic_letters.csv', 'w') as file:
    trimmed_table.to_csv(file, index=False)

###Steps 3 - 8: done in a separate tab

At some point I should probably put up a video of these steps. For now I am hoping you can follow my directions.

###Step 9: read it back in

You got a url from step 8. Paste it in below and make sure you get what you expect.

In [0]:
#testing to make sure can get it back next week
url = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vQtGO0_jsSWW4h1fIYdXw6rCgiQm7c1_-b_KB8jswwxbBX-a6vuKe93NARldRzgS_sy4jl1f1LgO8Hg/pub?output=csv' #replace ... with url you got from Google Sheets
titanic_letters = pd.read_csv(url)

In [81]:
titanic_letters.head()  #print first 5 rows of the table to makre sure looks good

   Survived                                               Name  a  ...  x  y  z
0         0                            Braund, Mr. Owen Harris  2  ...  0  0  0
1         1  Cumings, Mrs. John Bradley (Florence Briggs Th...  2  ...  0  2  0
2         1                             Heikkinen, Miss. Laina  2  ...  0  0  0
3         1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  3  ...  0  2  0
4         0                           Allen, Mr. William Henry  2  ...  0  1  0

[5 rows x 28 columns]

##Yet another gist?

The code (and my instructions) above are definitely gist material. If you do a lot of wrangling, you will want to store your results. So good to have a gist for that.

Yet another gist to consider is reading a table from a csv file like we did with Titanic data.

#Whew, good job

We covered a lot of ground. And I don't expect you to feel rock solid on it until you have seen it multiple times. But congrats anyway. You have taken some big steps in using data wrangling to transform text into a usable numeric form.